body {
	background-color: #232323;
	margin: 0;
	font-family: "Monserat","Avenir";
}

.super {
	font-family: 'Satisfy', cursive;
	text-transform: none;
	font-size: 32px;
}

.square {
	width: 30%;
	background-color: lightgreen;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	transition: background .5s;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	margin-top: 0;
	-webkit-clip-path: polygon(76% 75%, 79% 56%, 85% 39%, 83% 26%, 77% 17%, 62% 11%, 45% 15%, 56% 0, 41% 6%, 45% 15%, 31% 12%, 21% 16%, 14% 25%, 11% 35%, 13% 48%, 19% 59%, 25% 77%, 38% 85%, 50% 81%, 64% 85%);
	clip-path: polygon(76% 75%, 79% 56%, 85% 39%, 83% 26%, 77% 17%, 62% 11%, 45% 15%, 56% 0, 41% 6%, 45% 15%, 31% 12%, 21% 16%, 14% 25%, 11% 35%, 13% 48%, 19% 59%, 25% 77%, 38% 85%, 50% 81%, 64% 85%);
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1 {
	color: white;
	text-align: center;
	background-color: lightgreen;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 20px 0;
	font-size: 20px;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

#reset {
	margin-right: 100px;
}

.selected {
	background-color: lightgreen;
	color: white;
}

#colorDisplay {
	font-size: 100%;
}

button {
	border: none;
	background-color: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: lightgreen;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .25s;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	outline: none;
}

button:hover {
	color: white;
	background-color: lightgreen;
}
